@using Microsoft.FluentUI.AspNetCore.Components

<FluentFooter>
    <span class="fw-bold">Abdulrahman Video Conferencing</span>
    <span> Location: Cairo, Egypt</span>
    <span> Office: +20 0100 459 1659</span>
    <span> Email: abdulrhmn398@outlook.com</span>
    <FluentSpacer />
    <span><i>Built by <strong>@@Abdulrahman</strong></i></span>
</FluentFooter>

<style>
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>